AddDefaultCharset UTF-8
Options +FollowSymlinks
Options +Indexes
RewriteEngine on

RewriteRule ^([^/]+/)*\. 				-																			[F,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)?$										index.php?uri=$1								[NC,L,QSA]

RewriteRule ^index.php$								index.php?uri=form/main					[NC,L,QSA]